.footer,
.bottom-widget,
.copyright,
.updates,
.path-frontpage .main-content {
	padding: 20px 0;
}

.clients,
.bottom-widget{
	background: #fff;
}

.main-content{
	padding: 0 0 50px 0;
}

// Front page
.path-frontpage .feed-icon{
	display: none;
}

.features{
	background-color: #443ca5;

	h2,p{
		color: #fff;
	}
	.region{
		overflow: hidden;
	}
}

.footer{
	tbody tr:hover, tbody tr:focus {
	    background: none;
	}
}

.clients{
	.region{
		ul {
			li{
				display: inline-block;
				width: 100%;
				text-align: center;

				img{
					max-width: 200px;
				}
			}
		}
	}
}

// Services
.services-list{
	text-align: center;

	.block{
		padding-bottom: 20px;
	}
}

// Testimonials
.testimonials-wrap{
	background: #fafafa;
	border-top: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
	padding: 20px 0;
	text-align: center;
	font-size: 1em;
	line-height: 160%;
}

.region-testimonials{
	max-width: 600px;
	margin: 0 auto;
}

.testimonials-pic{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}

.testimonials-author{
	padding: 0 5px;
	font-size: .75em;
	color: #555;
}

// Price
.price-table,
.bottom-widget{
	.card-header{
		border: 0;
    	padding: 20px;
	}

	ul li {
	    list-style: none;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
}

// Team
.team{
	.team-list{
		.region{
			background: #efefef;
			overflow: hidden;
			padding: 10px;
			border: 1px solid #eaeaea;
		}
	}
}


