@import "variables-and-mixins";

@media (min-width: 576px){
  .container {
    max-width: 570px;
  }
}

@media (min-width: 767px) {

  .container {
    max-width: 1140px;
  }

  .header {
    padding: 15px 0;
  }

  .navbar-toggle{
    display: none;
  }

  .user-logged-in .main-header{
    position: relative;
  }
  
  // Flexslider
  .flexslider {
    
    .slider-caption{
      display: block;
      top: auto;
      bottom: 0%;
      left: 0%;
      width: 40%;
      font-size: 1.2em;
      padding: 20px;
      color: #fff;
    }

    .slider-title{
      font-size: 2em;
    }

    .flex-direction-nav{
      display: block;
      margin-top: -24px;
    }

  }

  .navbar-toggle-close{
    display: none;
  }

  // Main menu
  .primary-menu-wrap{
    text-align: right;
  }

  .region-primary-menu{
    display: inline-block !important;
    width: auto;
    margin: 0;
    background: none;
    position: static;
    vertical-align: middle;

    ul{
      border: 0;
      float: right;

      li{
        border: 0;
  
        a{
          background: none;
          border: 0;
          font-weight: 600;
          color: $desktopMenuColor;
  
          span.sub-arrow {
            padding: 0;
            top: 24px;
            margin-top: 0;
            bottom: 2px;
            right: 2px;
            margin-left: -5px;
            left: auto;
            width: 0;
            height: 0;
            border-width: 4px;
            border-style: solid;
            border-color: #0ca503 transparent transparent transparent;
            font-size: 2em;
            line-height: 100%;
          }
        }
  
        a:hover,
        a:focus,
        a:active,
        a.highlighted{
          color: #0ca503;
        }

      }

      ul{
        background: $desktopMenuDropDownBG;
        text-align: left;

        li a{
          color: $desktopMenuDropDownText;
          padding: 18px 15px;
          
          span.sub-arrow {
            top: 22px;
            right: 10px;
            border-color: transparent transparent transparent #fff;
          }
        }

        li a:hover,
        li a:focus,
        li a:active,
        li a.highlighted{
          color: #0ca503;
          padding: 18px 15px;
        }

        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        }
      }      
    }
    
  }

  .carousel-caption{
    background-color: #fff;
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .comment-wrap {
    .author-details { width: 10%; }
    .author-comments { width: 90%; }
  }

  .social-media{
    margin: 0;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .path-taxonomy,
  .path-frontpage{
	  .main-content{
		  .views-element-container{
			  .views-row{
          float: left;
          // width: 24%;
          width: 32%;
        }
      }
    }
  }

  .region-search{
    width: 250px;
  }

}

@media (min-width: 992px) { }